.jumbotron{
    background-color: black !important;
    color: black !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-bottom: 0% !important;
    padding-top: 0% !important;
}

.jumbotron h1{
    font-size: 400%;
}

.jumbotron-image{
    padding: 30px;
    background-image: url(../src/img/main_banner.jpg);
    background-position: center center;
    background-repeat: repeat-x;
    background-size: auto 100%;
}

.jumbotron a{
    color: black;
}

.jumbotron a:hover{
    color: rgb(95, 95, 95);
    text-decoration: none;
}

#main_menu{
    background-color: black;
    margin: 0%;
    overflow: hidden;
    height: auto;
    padding: 13px;
}

#main_menu a{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    color: whitesmoke;
}

#main_menu a:hover{
    background-color: whitesmoke;
    color: black;
}

#top_menu a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}

#footer_menu, #footer_info{
    display: inline-table;
    padding: 20px;
    margin: 20px;
    border: solid 1px whitesmoke;
}

#footer_menu a{
    display: table-row;
    height: 30px;
    color: whitesmoke;
}

.main_content{
    height: auto;
    text-align: center;
}

/* 이제 여기 아래 부분은 main_page 에서만 해당하는 css */

#recommended_movie, #movie_ranking{
    margin-bottom: 50px;
    margin-top: 10px;
    display: inline-block;
    width: fit-content;
}

#recommended_movie i, #movie_ranking i{
    color: gold;
}

.card{
    width: 200px;
    height: 360px;
    margin: 20px;
    align-self: center;
}

.card-img-top{
    width: 200px;
    height: 267px;
}

.card-body{
    padding: 5% !important;
}